@using DataEntities.Concrete
@model List<Feature2>

<h1>Current Products</h1>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>City</th>
        <th>Build Year</th>
        <th>Create Date</th>

        <th>Saler Man Name</th>
        <th>Price</th>

        <th>Update</th>
        <th>Delete</th>



    </tr>

    @foreach (var item in Model)
        {
<tr>
    <td>@item.Id</td>
    <td>@item.CityName</td>
    <td>@item.BuildYear</td>
    <td>@item.CreateDate.ToString("MM/dd/yyyy") </td>
    <td>@(((DateTime)item.CreateDate).ToString("dd-MMM-yyyy")) </td>


    <td>@item.AuthorName</td>
    <td>@item.Price</td>

    <td><a asp-controller="shop" asp-action="Update" asp-route-id="@item.Id" asp-area="Member" class="btn btn-info">Update</a></td>
    <td><a asp-controller="shop" asp-action="Delete" asp-route-id="@item.Id" asp-area="Member" class="btn btn-danger">Delete</a></td>


</tr>
        }

</table>
<a asp-controller="shop" asp-action="Add" asp-area="Member" class="btn btn-success">Add New Product</a>
