@using DataEntities.Concrete
@model List<Feature2> 

<h1>Current Products</h1>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>City</th>
        <th>Build Year</th>
        <th>Create Date</th>

        <th>Saler Man Name</th>
        <th>Price</th>

        <th>Update</th>
        <th>Delete</th>



    </tr>

    @foreach (var item in Model)
        {
<tr>
    <td>@item.Id</td>
    <td>@item.CityName</td>
    <td>@item.BuildYear</td>
    <td>@item.CreateDate </td>

    <td>@item.AuthorName</td>
    <td>@item.Price</td>

    <td><a href="/Shop/Update/@item.Id" class="btn btn-info">Update</a></td>
    <td><a href="/Member/Shop/Delete/@item.Id"  class="btn btn-danger">Delete</a></td>


</tr>
        }

</table>
<a href="/Member/Shop/Add" class="btn btn-success">Add New Product</a>
