@using DataEntities.Concrete
@model List<News>


<div class="widget ltn__popular-post-widget">
    <h4 class="ltn__widget-title ltn__widget-title-border-2">Leatest Blogs</h4>
    <ul>

        @foreach (var item in Model)
        {
            <li>
                <div class="popular-post-widget-item clearfix">
                    <div class="popular-post-widget-img">
                        <a asp-controller="News" asp-action="NewsDetails" asp-route-id="@item.Id"><img src="~/assets/uploads/@item.MainImage" alt="#"></a>
                    </div>
                    <div class="popular-post-widget-brief">
                        <h6>
                            <a asp-controller="News" asp-action="NewsDetails" asp-route-id="@item.Id">
                                @item.AuthorDesc
                            </a>
                        </h6>
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-date">
                                    <a asp-controller="News" asp-action="NewsDetails" asp-route-id="@item.Id"><i class="far fa-calendar-alt"></i>@item.CreateDate</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>