@*@using DataEntities.Concrete*@
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<DataEntities.Concrete.MainSlider>

<h1>Current Products</h1>


<table class="table table-bordered">
    <tr>


        <th>Name</th>
        <th>Text</th>


        <th>Update</th>
        <th>Delete</th>
        


    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>@item.Title</td>
    <td>@item.Body</td>

    <td><a asp-controller="slider" asp-action="Update" asp-route-id="@item.Id" asp-area="Member" class="btn btn-info">Update</a></td>
    <td><a asp-controller="slider" asp-action="Delete" asp-route-id="@item.Id" asp-area="Member"  onclick="return confirm('Are You Sure?')" class="btn btn-danger">Delete</a></td>


</tr>
    }

</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
<style>


    ul.pagination {
        margin: 15px;
        padding: 10px;
        border-radius: 20px;
        border-color: black;
        justify-content: center;
        font-family: inherit;
        text-decoration: underline;
        font-weight: 600;
    }

    .pagination a {
        margin: 0 10px;
        color: black;
        background-color: pink;
        padding: 20px;
        border-radius: 50px;
        border: 1px solid;
        border-color: gray;
    }

    .pagination span {
        margin: 0 10px;
        color: black;
        background-color: pink;
        padding: 20px;
        border-radius: 50px;
        border: 1px solid;
        border-color: gray;
    }
</style>
<a asp-controller="shop" asp-action="Add" asp-area="Member" class="btn btn-success">Add New Product</a>
